@media screen and (max-width: 812px){
    
    main {
        width: 100%;
    }

    header {
        grid-template-columns: auto;
        padding: 1.1131rem 1.385rem 0 1.7919rem;
    }

    .barre_left::after {
        width: 22%;
    }

    
    #olivier {
        line-height: var(--font-36);
    }

    #burger_menu {
        width: 3.0625rem;
        height: 3.0625rem;
        background: var(--orange);
        border-radius: 100%;
    }

    #burger_menu span {
        background: var(--white);
        width: 1.1875rem;
        margin-right: 0;
    }

    #telephone, #numero, #mail, #adresse_mail, #olivier_imge {
        display: none;
    }

    #presentation {
        background: none;
    }

    #presentation_sv2 img {
        width: 0;
        height: 0;
        display: none;
    }

    #presentation_sv2 {
        grid-template-columns: 1fr 1px;
        padding: 0 .7331rem 2.3937rem 1.8294rem;
    }

    #presentation_text {
        grid-template-columns: 1px 1fr 1px;
        grid-template-rows: 3.5625rem 4rem 7.5rem 6.875rem 3.4375rem 2.1875rem;
    }

    #presentation_hola {
        font-size: 2.5rem;
    }

    #presentation_text::before {
        content: "+";
        color: var(--orange);
        grid-column: 1;
        grid-row: 3;
        font-size: 2rem;
        position: relative;
        top: 5.375rem;
        left: 2.8125rem;
    }

    #presentation_text::after {
        content: "+";
        color: var(--white);
        grid-column: 1;
        grid-row: 4;
        font-size: 2rem;
        position: relative;
        top: 3.4375rem;
        left:17.4375rem;
    }

    #presentation_dev {
        width: 80%;
    }

    #client {
        padding: 0 2.2056rem;
        text-align: left;
    }

    footer {
        padding: 0 1.6431rem;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #calque_1 {
        grid-column: 1;
        grid-row: 1;
        padding-left: 2.375rem;
    }

    #calque_2 {
        grid-column: 2;
        grid-row: 1;
        padding-left: 2.375rem;
    }

    #calque_3 {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
        padding-left: 1.125rem;
    }

    #calque_4 {
        grid-column: 2;
        grid-row: 2;
        width: 90%;
    }

    #calque_5 {
        grid-column: 1;
        grid-row: 3;
        width: 80%;
    }

    #calque_6 {
        grid-column: 2;
        grid-row: 3;
        width: 90%;
    }
    
}